  <div class="form-actions">

    <% unless @file_status_resp.nil? or @file_status_resp == 'null'%>
    <p>
    <% if JSON.parse(@file_status_resp)['status'] == 'staged'%>
      <strong>File available in cache |
        <%= link_to 'Download', 'http://helium.dlib.indiana.edu:8200' + JSON.parse(@file_status_resp)['url'] %> |
        <%= link_to 'Unstage file from cache', main_app.curation_concerns_file_set_path(presenter) + '?next_action=unstage'%>
      </strong>
    <% elsif JSON.parse(@file_status_resp)['status'] == 'staging' or params[:next_action] == 'stage' %>
      <strong>File staging to cache...</strong>
    <% elsif JSON.parse(@file_status_resp)['status'] == 'disabled' %>
        <strong>Storage proxy client is disabled</strong>
    <% else %>
        <strong>File not in cache </strong>|
        <strong>
          <%= link_to 'Stage file for download', main_app.curation_concerns_file_set_path(presenter) + '?next_action=stage' %>
        </strong>
    <% end %>
    </p>
     <% end %>
    <p>
      <%= link_to 'Refresh availability status', main_app.curation_concerns_file_set_path(presenter) + '?next_action=file_status', class: 'btn btn-default' %>
    </p>

    <% if can? :edit, presenter.id %>
      <%= link_to "Edit this File", edit_polymorphic_path([main_app, presenter]), class: 'btn btn-default'  %>
    <% end %>

    <% if parent %>
      <%= link_to "Back to #{parent.human_readable_type}", parent_path(parent), class: 'btn btn-default' %>
    <% end %>
  </div>
